*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
padding-left: 70px;
padding-right: 70px;
margin-top: 20px;
display: flex;
justify-content: space-between;
align-items: center;
}
.logo{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.left-nav{
    display:flex ;
align-items: center;
}
.n-item{
    margin-left: 40px;
    color: #212529;
    font-weight:530;
    font-size: 18px;
    cursor: pointer;
}
.n-item:hover{
font-weight: bold;
text-decoration: underline green;
 
}
.search-bar input{
    font-size: x-small;
      border: 1px solid gray;
      padding: 8px;
      border-radius: 20px;
      width: 180px;
      justify-content: right;
      text-align: end;
      cursor: pointer;
}
.search-bar input:hover{
    border:  1px solid black;
}
.search{
    position: relative;
    right: 170px;
    font-size: 20px;
    top: 6px;
}
.profile-icon{
  color: gray;
  width: 30px;
  height: 30px;
  
}
.right-nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 300px;
    gap: 30px;
}