*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer-contain{
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
    background-color:  #0e382c;;
    color: white;
}
.footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px;
}
.list ul li{
list-style: none;

}
.list ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}